.services {
    width: 1440px;
    height: 768px;
    background: $black_main;
    &__header {
        padding-top: 120px;
        color: $white_main;
        text-align: center;
    }
    &__list {
        margin: 0 auto;
        padding-top: 80px;
        display: flex;
        gap: 28px;
    }
    &__list1 {
        border-radius: 16px;
        background: $white_main;
        width: 368px;
        height: 384px;
    }
    &__list1-textbox {
        padding: 40px;
    }
    &__list1-textbox2 {
        padding-top: 8px;
    }
    &__list1-textbox3 {
        padding-top: 16px;
        height: 96px;
    }
    &__list-line {
        width: 80px;
        height: 1px;
        opacity: 0.2;
        background: $black_main;
        margin-top: 56px;
        margin-bottom: 56px;
    }
}